<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body class="flex flex-col min-h-screen">
  {% include header.html %}
  <div class="flex-grow container mx-auto py-8">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      <!-- Main Content Column -->
      <div class="lg:col-span-2">
        {{ content }}
      </div>
      <!-- Right Column with Portrait Image -->
      <div class="hidden lg:block">
        <div class="flex">
          <img class="w-full rounded-lg max-w-40 h-auto object-cover" src="{{ '/assets/img/paulinachef-portrait.jpg' | relative_url }}" alt="Paulina Cooking">
          <div class="ml-2">
            <h1 class="text-lg">Paulina Eats</h1>
            <p>Hi, I am Paulina and I like to eat!</p>
          </div>
        </div>
        <p></p>
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
